*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url(https://wallpapers.com/images/hd/bts-purple-aesthetic-quote-f15davaezld9e7bl.jpg);
}
.box{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);
    align-items: center;
     border: 3px solid black;
     width: 50%;
     height: 40%;
     padding: 20px;
     background-color: whitesmoke;
}
.list{
    padding: 5px;
    margin: 10px;
    border: 2px dotted black;
    font-size: 20px;
}
.click{
    position: relative;
    display: flex;
    justify-content: center;
}
.click button{
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    width: 60px;
    background-color: steelblue;
}